.unanet-summary {
  padding: 0 0 20px 20px;
}

.unanet-summary table {
  border: 2px solid;
}

.unanet-summary table>tbody td {
  text-align: center;
}

.summary-header {
  color: #FFFFFF;
  font-weight: bold;
}

.summary-header.project-types {
  background-color: #4F81BD;
}

.summary-header.totals {
  background-color: #F79646;
}

.summary-header.tracking {
  background-color: #9BBB59;
}

.summary-header.other-calcs {
  background-color: #8064A2;
}

.summary-subheader.project-types {
  background-color: #DCE6F1;
}

.summary-subheader.totals {
  background-color: #FDE9D9;
}

.summary-subheader.other-calcs {
  background-color: #E4DFEC;
}

.summary-subheader.tracking {
  background-color: #EBF1DE;
}

.negative-tracking {
  background-color: #DA9694;
}